<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fixy-Arm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleSub1.css') }}">
    <script src="{{ url_for('static', filename='actSub1.js') }}"></script>
  </head>

  <body>
    <div class="display">
        <div class="cam" style="padding-top:40px; padding-bottom:0px; padding-left: 7px;">
           
            <!--캠화면 -->
            <img id="captured-image" src="{{ url_for('video_feed') }}" alt="Pose Detection" />
        </div>
        <div class="btns">
          <button type="button" class="iconBtn" id="cameraBtn">
              <img src="{{ url_for('static', filename='svg/screenshot.svg') }}" class="icon" id="Screenshot">
          </button>
          <button type="button" class="iconBtn" id="homeBtn">
              <img src="{{ url_for('static', filename='svg/home.svg') }}" class="icon" id="goToMain">
          </button>
          <button type="button" class="iconBtn" id="OnOffBtn">
             <img src="{{ url_for('static', filename='svg/camOn.svg') }}" class="icon" id="camOnOff"> 
          </button>

          <script>
            document.getElementById("homeBtn").addEventListener("click", function() {
                location.href = "/mainHome.html";
            });
        </script>
        </div>
    </div>
    <div class="guide">
    </div>
</body>
</html>
