<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fixy-Arm</title>
        <link rel="stylesheet" href="styleSub1.css">
        <script src="actSub1.js"></script>
    </head>

    <body>
        <div class="display">
            <div class="cam">
                <!--캠화면 -->
            </div>
            <div class="btns">
                <button type="button" class="iconBtn" id="cameraBtn">
                    <img src="svg/screenshot.svg" class="icon" id="Screenshot">
                </button>
                <button type="button" class="iconBtn" onclick="location.href='mainHome.html'" id="homeBtn">
                    <img src="svg/home.svg" class="icon" id="goToMain">
                </button>
                <button type="button" class="iconBtn" id="OnOffBtn">
                   <img src="svg/camOn.svg" class="icon" id="camOnOff"> 
                </button>
            </div>
        </div>
        <div class="guide">

        </div>
    </body>
</html>