body{
    margin: 20px;
    overflow: hidden;
    display: flex;
    background: #1d344a;
    flex-direction: row;
}

.display{
    width: 1300px;
    margin-right: 20px;
    float: left;
    display: flex;
    flex-direction: column;
}

.cam{
    height: 800px;
    background: #000;
    border-radius: 20px 20px 0 0;
    border: 2px solid #1d344a;
}

.btns{
    margin-top: 10px;
    height: 100px;
    background: #132230;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1d344a;
}

.iconBtn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    border-color: #fff;
    background: #ffffffc0;
}

.icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.guide{
    float: right;
    width: 500px;
    height: 914px;
    border-radius: 20px;
    background: #000000;
    border: 2px solid #1d344a;
}